<div class="row">
    <div class="col-md-4 register-sec">
        <h2 class="text-center">Register</h2>
        <form class="login-form" method="post" [formGroup]="form">
            <div class="form-group">
                <label for="username">Username</label>
                <input id="username" formControlName="username" type="text" class="form-control" placeholder="" required>
                <div *ngIf="Username.touched && Username.invalid" class="text-danger">
                    <span *ngIf="Username.errors?.required">This field is required.</span>
                    <span *ngIf="Username.errors?.maxlength">This field must be up to 32 characters long.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="displayName">Display name</label>
                <input id="displayName" formControlName="displayName" type="text" class="form-control" placeholder="" required>
                <div *ngIf="DisplayName.touched && DisplayName.invalid" class="text-danger">
                    <span *ngIf="DisplayName.errors?.required">This field is required</span>
                    <span *ngIf="DisplayName.errors?.maxlength">This field must be up to 32 characters long</span>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" formControlName="password" type="password" class="form-control" placeholder="" required>
                <div *ngIf="Password.touched && Password.invalid" class="text-danger">
                    <span *ngIf="Password.errors?.required">This field is required</span>
                    <span *ngIf="Password.errors?.minlength">This field must be at least 10 characters long</span>
                    <span *ngIf="Password.errors?.maxlength">This field must be up to 32 characters long</span>
                </div>
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="" required>
                <div *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid" class="text-danger">
                    <span *ngIf="ConfirmPassword.errors?.required">This field is required</span>
                </div>
                <div *ngIf="form.errors?.mismatch && !ConfirmPassword.errors?.required" class="text-danger">
                    <span>Passwords do not match.</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" type="text" class="form-control" placeholder="" required>
                <div *ngIf="Email.touched && Email.invalid" class="text-danger">
                    <span *ngIf="Email.errors?.required">This field is required.</span>
                    <span *ngIf="Email.errors?.maxlength">This field must be up to 32 characters long.</span>
                    <span *ngIf="Email.errors?.pattern">This field is invalid.</span>
                </div>
            </div>
            <div class="form-group">
                <input type="button" id="register" (click)="register()" class="btn btn-login btn-info btn-block" value="Register" />
            </div>
        </form>
    </div>
</div>