<h2 class="text-center">Login</h2>
<form [formGroup]="form">
    <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" class="form-control" placeholder="" required>
        <div *ngIf="Username.touched && Username.invalid" class="text-danger">
            <span *ngIf="Username.errors?.required">This field is required</span>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control" placeholder="" required>
        <div *ngIf="Password.touched && Password.invalid" class="text-danger">
            <span *ngIf="Password.errors?.required">This field is required</span>
        </div>
    </div>
    <div class="form-group">
        <input type="button" id="register" (click)="login()" class="btn btn-login btn-info btn-block" value="Login" />
    </div>
</form>
<div class="register-text">
    <a (click)="forgotPassword()">I forgot my password</a>
    <p>Dont Have An Account? <i class="fa fa-user-plus"></i><a (click)="register()">Sign Up</a></p>
</div>