<h2 class="text-center">Forgot password</h2>
<form [formGroup]="form">
    <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="text" class="form-control" placeholder="">
        <div *ngIf="Email.touched && Email.invalid" class="text-danger">
            <span *ngIf="Email.errors?.required">This field is required</span>
            <span *ngIf="!Email.errors?.required && !Email.errors?.isEmail">This field is invalid</span>
        </div>
    </div>
    <div class="form-group">
        <input type="button" (click)="onSubmit()" [disabled]="!form.valid" class="btn btn-login btn-info btn-block" value="Submit" />
    </div>
    <br />
    <span class="text-warning">{{ form.value | json }} {{ form.valid }}</span>
</form>