<section class="register-block">
    <div class="text-center mb-3 alert alert-warning alert-dismissible" *ngIf="invalidForgotPassword" role="alert">
        <strong *ngFor="let error of errorList">{{ error }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="container signLog">
        <div class="row">
            <div class="col-md-4 register-sec">
                <h2 class="text-center">Reset password</h2>
                <form class="login-form" method="post" [formGroup]="insertForm">
                    <div class="form-group">
                        <label for="password" class="text-uppercase">Password</label>
                        <input id="password" formControlName="password" type="password" class="form-control" placeholder="" required>
                        <div *ngIf="Password.touched && Password.errors" class="text-danger">
                            <span *ngIf="Password.hasError('required')">Password is required.</span>
                            <span *ngIf="Password.hasError('minlength')">Atleast 5 characters needed for password.</span>
                            <span *ngIf="Password.hasError('maxlength')">Only 10 characters allowed for password.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="text-uppercase">Confirm Password</label>
                        <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" placeholder="" required>
                        <div *ngIf="confirmPassword.touched && confirmPassword.errors" class="text-danger">
                            <span *ngIf="confirmPassword.hasError('required')">Confirm Password is required.</span>
                            <span *ngIf="confirmPassword.hasError('mustMatch')">Password Must Match.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="button" (click)="onSubmit()" class="btn btn-login btn-info btn-block" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>