<header>
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
        <div class="container">
            <a class="navbar-brand" [routerLink]='["/"]'>Users</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a class="nav-link" [routerLink]='["/"]'>Home</a>
                    </li>
                    <li *ngIf="(loginStatus | async)" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a *ngIf="loginStatus" class="nav-link" [routerLink]='["/products"]'>Products</a>
                    </li>
                    <li *ngIf="!(loginStatus | async) as loginStatus" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a *ngIf="loginStatus" class="nav-link" [routerLink]='["/login"]'>Login</a>
                    </li>
                    <li *ngIf="!(loginStatus | async) as loginStatus" class="nav-item" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a *ngIf="loginStatus" class="nav-link" [routerLink]='["/register"]'>Register</a>
                    </li>
                    <li *ngIf="(loginStatus | async)" class="nav-item">
                        <a *ngIf="loginStatus" class="btn btn-info" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>