<h1>Products</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.productId}}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ true == product.outOfStock ? 'Yes' : 'No'}}</td>
            <td class="right-align">{{ product.price | number : '.2' }}</td>
            <td>
                <div class="btn-group mt-2" role="group">
                    <button type="button" class="btn btn-info"><i class="fa fa-list"></i></button>
                    <button type="button" class="btn btn-info"><i class="fa fa-pencil-square-o"></i></button>
                    <button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>